In [224]:
import pandas as pd
import numpy as np

In [225]:
#Data_Train = pd.read_excel('Data_Train.xlsx')
Data_Train = pd.read_excel('Test_set.xlsx')

In [226]:
pd.set_option('display.max_columns', None)

In [227]:
Data_Train

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info
...,...,...,...,...,...,...,...,...,...,...
2666,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info

In [208]:
# Data Preprocessing

Data_Train.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
dtype: int64

In [209]:
Data_Train['Additional_Info'].value_counts()

# Have to Remove 'No info' Category

No info                         2148
In-flight meal not included      444
No check-in baggage included      76
Business class                     1
Change airports                    1
1 Long layover                     1
Name: Additional_Info, dtype: int64

In [210]:
Data_Train['Duration'].unique()

array(['10h 55m', '4h', '23h 45m', '13h', '2h 50m', '18h 20m', '15h 5m',
       '5h 15m', '2h 45m', '6h 5m', '28h 55m', '9h 20m', '10h 15m',
       '4h 40m', '17h 20m', '10h 50m', '9h 15m', '12h 15m', '9h 10m',
       '14h 50m', '14h 5m', '11h 35m', '13h 30m', '12h 25m', '2h 30m',
       '25h 30m', '19h 25m', '7h', '11h 40m', '7h 5m', '3h', '1h 25m',
       '2h 40m', '17h 5m', '10h 40m', '12h 30m', '1h 30m', '23h 40m',
       '2h 20m', '23h 35m', '27h 40m', '28h 20m', '5h 45m', '26h 25m',
       '5h 40m', '2h 15m', '2h 55m', '7h 30m', '5h 20m', '25h 50m',
       '13h 15m', '26h 20m', '5h 25m', '8h 45m', '7h 20m', '21h 10m',
       '16h', '7h 50m', '16h 5m', '5h 55m', '13h 50m', '11h 55m',
       '13h 20m', '18h 10m', '28h 10m', '5h', '23h 15m', '1h 15m',
       '1h 20m', '13h 25m', '6h 15m', '10h 10m', '4h 35m', '11h',
       '12h 20m', '15h 10m', '19h', '13h 45m', '9h 50m', '2h 35m',
       '7h 15m', '23h', '10h 25m', '5h 5m', '22h 45m', '8h 40m',
       '11h 30m', '15h 40m', '7h 55m', '12h 50m', '25h 25m', '10h 20m',
       '8h 30m', '12h 45m', '12h 10m', '22h 30m', '7h 45m', '21h 55m',
       '6h 30m', '2h 25m', '25h 45m', '33h 20m', '11h 25m', '15h 15m',
       '14h 30m', '8h', '21h 15m', '26h 50m', '16h 50m', '9h 5m',
       '16h 45m', '11h 15m', '22h 55m', '17h 45m', '23h 10m', '25h 20m',
       '23h 50m', '14h 25m', '24h 50m', '10h 30m', '19h 40m', '6h 20m',
       '27h 20m', '9h 25m', '5h 10m', '7h 40m', '6h 35m', '28h 50m',
       '14h 35m', '19h 55m', '38h', '4h 45m', '6h 25m', '21h 40m',
       '3h 5m', '4h 55m', '16h 10m', '6h 45m', '11h 45m', '6h', '22h 25m',
       '19h 10m', '24h', '14h 40m', '20h 30m', '16h 15m', '8h 15m',
       '8h 25m', '23h 5m', '19h 30m', '25h 10m', '21h 25m', '4h 50m',
       '18h 25m', '4h 5m', '16h 40m', '28h', '24h 55m', '6h 55m',
       '8h 20m', '26h', '9h', '20h 55m', '23h 20m', '27h 35m', '21h 35m',
       '15h 30m', '14h', '28h 40m', '14h 45m', '11h 10m', '20h',
       '24h 15m', '12h', '20h 10m', '27h 45m', '20h 35m', '11h 5m',
       '12h 35m', '25h', '10h', '18h 50m', '18h 45m', '8h 5m', '4h 25m',
       '14h 55m', '22h 5m', '9h 45m', '25h 55m', '25h 5m', '4h 10m',
       '9h 35m', '26h 55m', '11h 50m', '7h 35m', '5h 35m', '5h 30m',
       '35h 35m', '17h 15m', '15h 45m', '3h 15m', '16h 25m', '25h 40m',
       '12h 40m', '12h 55m', '10h 35m', '31h 55m', '20h 45m', '38h 15m',
       '24h 45m', '1h 35m', '24h 30m', '34h 30m', '23h 30m', '6h 10m',
       '9h 30m', '8h 55m', '26h 35m', '15h 35m', '5h 50m', '20h 20m',
       '23h 55m', '22h 10m', '20h 15m', '13h 55m', '3h 40m', '33h 15m',
       '25h 35m', '17h 55m', '24h 10m', '29h 35m', '27h 5m', '15h 25m',
       '3h 10m', '13h 35m', '8h 50m', '6h 40m', '30h 20m', '15h 55m',
       '21h 5m', '26h 40m', '37h 20m', '29h 20m', '13h 5m', '29h 40m',
       '10h 5m', '4h 30m', '21h 20m', '13h 10m', '17h 35m', '33h 45m',
       '6h 50m', '26h 10m', '16h 35m', '36h 25m', '3h 45m', '14h 20m',
       '22h 15m', '17h 25m', '31h 10m', '24h 5m', '20h 25m', '18h 30m',
       '26h 15m', '30h 40m', '30h', '27h 10m', '24h 40m', '15h 20m',
       '7h 10m', '28h 15m', '14h 10m', '18h 40m', '27h 50m', '8h 10m',
       '39h 5m', '16h 20m', '12h 5m', '19h 15m', '29h 55m', '27h',
       '30h 45m', '29h 5m', '32h 5m', '32h 20m', '15h', '15h 50m',
       '22h 40m', '19h 45m', '30h 30m', '18h', '28h 5m', '24h 25m',
       '9h 40m', '24h 35m', '21h 45m', '10h 45m', '17h 40m', '16h 30m',
       '27h 55m', '16h 55m', '8h 35m', '26h 30m', '30h 25m', '27h 30m',
       '26h 5m', '22h', '19h 5m', '11h 20m', '40h 40m', '22h 50m',
       '32h 25m', '17h 30m', '7h 25m', '4h 20m', '24h 20m', '38h 35m',
       '9h 55m', '38h 20m', '5m'], dtype=object)

In [211]:
Data_Train.loc[Data_Train['Total_Stops'] == 'non-stop', 'Total_No_of_Stops'] = 0
Data_Train.loc[Data_Train['Total_Stops'].isnull(), 'Total_No_of_Stops'] = 0
Data_Train.loc[Data_Train['Total_Stops'] == '1 stop', 'Total_No_of_Stops'] = 1
Data_Train.loc[Data_Train['Total_Stops'] == '2 stops', 'Total_No_of_Stops'] = 2
Data_Train.loc[Data_Train['Total_Stops'] == '3 stops', 'Total_No_of_Stops'] = 3
Data_Train.loc[Data_Train['Total_Stops'] == '4 stops', 'Total_No_of_Stops'] = 4


# To Convert to Integer Type from Float Type
Data_Train['Total_No_of_Stops'] = Data_Train['Total_No_of_Stops'].astype(int)

In [212]:
# Drop Route and Total_Stops

del Data_Train['Route']
del Data_Train['Total_Stops']
del Data_Train['Additional_Info']

In [213]:
# Extracting Date / Month / Year of Journey

Data_Train[['Day_of_Journey','Month_of_Journey','Year_of_Journey']] = Data_Train['Date_of_Journey'].str.split('/',expand=True)

In [214]:
# Extracting Departure Time and Arrival Time

Data_Train[['Departure_Hour','Departure_Minute']] = Data_Train['Dep_Time'].str.split(':',expand=True)

Data_Train["Arrival_hour"] = pd.to_datetime(Data_Train.Arrival_Time).dt.hour

# Extracting Minutes
Data_Train["Arrival_min"] = pd.to_datetime(Data_Train.Arrival_Time).dt.minute

In [215]:
# Drop Route and Total_Stops

del Data_Train['Arrival_Time']
del Data_Train['Dep_Time']
del Data_Train['Date_of_Journey']

In [216]:
Data_Train[['Duration_Hour','Duration_Minute_T1']] = Data_Train['Duration'].str.split('h',expand=True)
Data_Train[['Duration_Minute','Duration_Minute_T2']] = Data_Train['Duration_Minute_T1'].str.split('m',expand=True)

In [217]:
del Data_Train['Duration']
del Data_Train['Duration_Minute_T1']
del Data_Train['Duration_Minute_T2']

In [218]:
Data_Train['Duration_Hour'] = Data_Train['Duration_Hour'].str.strip()
Data_Train['Duration_Minute'] = Data_Train['Duration_Minute'].str.strip()

In [219]:
#Data_Train['Duration_Minute'] = Data_Train['Duration_Minute'].fillna(0)

Data_Train['Duration_Minute'] = Data_Train['Duration_Minute'].apply(lambda x: 0 if x == '' else x)
Data_Train['Duration_Hour'] = Data_Train['Duration_Hour'].apply(lambda x: 0 if x == '' else x)

Data_Train['Duration_Hour'] = Data_Train['Duration_Hour'].apply(lambda x: 0 if x == '5m' else x)

In [220]:
Data_Train['Duration_Minute'].value_counts()

30    372
20    263
45    258
0     253
50    233
15    232
55    211
35    210
25    206
40    166
5     144
10    122
Name: Duration_Minute, dtype: int64

In [221]:
# As Source is Nominal Categorical data we will perform OneHotEncoding

Source = Data_Train[["Source"]]
Destination = Data_Train[["Destination"]]
Airline = Data_Train[["Airline"]]

Source = pd.get_dummies(Source, drop_first= True)
Destination = pd.get_dummies(Destination, drop_first= True)
Airline = pd.get_dummies(Airline, drop_first= True)

Source.head()

   Source_Chennai  Source_Delhi  Source_Kolkata  Source_Mumbai
0               0             1               0              0
1               0             0               1              0
2               0             1               0              0
3               0             1               0              0
4               0             0               0              0

In [222]:
# Concatenate dataframe --> train_data + Airline + Source + Destination

Data_Train = pd.concat([Data_Train, Airline, Source, Destination], axis = 1)
Data_Train.drop(["Airline", "Source", "Destination"], axis = 1, inplace = True)

In [223]:
#Data_Train.to_csv('Training_Data_Preprocessed.csv')
Data_Train.to_csv('Test_Data_Preprocessed.csv')